@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Persist Data In Memory</h1>
    <p class="lead">Use ASP.NET Session State to save data during a user's interactive session</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Look for these items</h2>
        <p>Saving int, string, collections.</p>
        <p>Testing for existence so you don't get a 'null reference' exception.</p>
    </div>
    <div class="col-md-4">
        <h2>Visit the About page</h2>
        <p>Values are created and stored in session state when you visit this Index page.</p>
        <p>Now visit the About page, where the values will be fetched and displayed.</p>
    </div>
</div>