@{
    ViewBag.Title = "DeleteUsers";
}

<h2>DeleteUsers</h2>

<h3>Are you sure you want to do this?</h3>
<div>
    <h4>Users</h4>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }

</div>
