@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Load data from CSV or XLSX</h1>
    <p class="lead">Learn how to load data from a comma-separated values file,<br />or a Microsoft Excel worksheet file.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/mar17/" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>You will need the CsvHelper library, <br />written by Josh Close.</p>
        <p><a class="btn btn-default" href="http://joshclose.github.io/CsvHelper/" target="_blank">CsvHelper &raquo;</a></p>
        <p>You will also need the Excel library, <br />written by Dietmar Schoder.</p>
        <p><a class="btn btn-default" href="http://www.codeproject.com/Tips/801032/Csharp-How-To-Read-xlsx-Excel-File-With-Lines-of" target="_blank">Excel &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>This app's functionality</h2>
        <p>This app enables you to:</p>
        <ul>
            <li>Read a CSV file, and display the contents</li>
            <li>Read a CSV file, save the contents to a data store, and display the results</li>
            <li>Remove all items in the data store</li>
            <li>Read an XLSX file, and display the contents</li>
        </ul>
    </div>
</div>