@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Family Tree</h1>
    <p class="lead">Learn how to work with more kinds of associations.<br />To-one, and to-many, to the same entity.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/mar24/" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Person class describes a human person.</p>
        <p>It has properties for 'mother' and 'father', and for 'children'.</p>
        <p>Shows you how to work with self-referencing associations.</p>
    </div>
    <div class="col-md-4">
        <h2>Code highlights</h2>
        <p>(more to come)</p>
    </div>
</div>