@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>There are many ways to get user data into your app. You will learn three ways in this web app example:</p>
<ol>
    <li>From the URI, as query string values</li>
    <li>HTML Form, using the form data collection in the request body</li>
    <li>HTML Form, using the preferred way, a strongly-typed view model</li>
</ol>
<p>Click the top-of-screen "Learn Forms" menu item to get started.</p>
