@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    School of ICT<br />
    Seneca College<br />
    Toronto, ON M3J3M6<br />
    <abbr title="Phone">P:</abbr>
    (416) 491-5050
</address>

<address>
    <strong>Prof. Coleshill:</strong> <a href="mailto:elliott.coleshill@senecacollege.ca">Email Prof. Coleshill</a><br />
    <strong>Prof. McIntyre:</strong> <a href="mailto:peter.mcintyre@senecacollege.ca">Email Prof. McIntyre</a>
</address>