@{
    ViewBag.Title = "Rich Text Editor";
}

<div class="jumbotron">
    <h1>Rich Text Editor</h1>
    <p class="lead">Enable users to add and edit rich text in your app.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>On the menu, select "Edit some text" to show the rich text editor.</p>
        <p><a class="btn btn-default" href="http://ckeditor.com/" target="_blank">Learn more about CKEditor &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Features of this app</h2>
        <ul>
            <li>Includes the CKEditor rich-text editor</li>
            <li>How-to instructions are on the "editcontent" view</li>
        </ul>
    </div>
</div>