<div class="panel panel-primary">

    <div class="panel panel-heading">
        <h3>Hoo Ha</h3>
    </div>

    <div class="panel-body">
        <p>Big deal</p>
        <p>Content from the method: @ViewBag.Content</p>
    </div>

</div>
