@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    School of ICT<br />
    Seneca College, Toronto Canada<br />
    <abbr title="Phone">P:</abbr>
    (416) 491-5050
</address>

<address>
    <strong>Prof. McIntyre:</strong> <a href="mailto:peter.mcintyre@senecacollege.ca">Send email</a> via your device's email client app<br />
</address>