@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cars</h1>
    <p class="lead">Introduces you to an app that follows the "System Design Guidance".</p>
    <p><a href="http://petermcintyre.com/bti420/notes/jan27/" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-5">
        <h2>Getting started</h2>
        <p>This app introduces you to the app design and coding techniques that are part of the "System Design Guidance" document.</p>
        <p>This knowledge enables you to build a complex and scalable app with a predictable and considerate amount of effort.</p>
    </div>
    <div class="col-md-7">
        <h2>Features</h2>
        <ul>
            <li>Design model classes source code file, in Models folder</li>
            <li>Design model class "Vehicle" can be used/seen by "Manager" class</li>
            <li>View model classes "VehicleAdd" and "VehicleBase" satisfy use cases</li>
            <li>AutoMapper library performs easy property mappings between similar objects</li>
            <li>Biggy library used for data store persistence</li>
            <li>"Create" view is sent a partially-configured object with initial data</li>
            <li>"Details" view is introduced, along with "Manager" class support for locating a specific object</li>
        </ul>
    </div>
</div>