
@{
    ViewBag.Title = "Learn Forms";
}

<h2>Learn Forms</h2>
<p>This web app example shows three ways to get data from a user:</p>
<p>1. <a href="/learnforms/fromuri">From the URI, as query string values</a></p>
<p>2. <a href="/learnforms/fromrequestbody">HTML Form, using the form data collection in the request body</a></p>
<p>3. <a href="/learnforms/viewmodel">HTML Form, using the preferred way, a strongly-typed view model</a></p>
