@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Music Business</h1>
    <p class="lead">Work with Artist, Albums, and Songs, using the 'List' and 'Add' patterns</p>
    <p><a href="http://petermcintyre.com/bti420/graded-work/lab5/" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>List pattern</h2>
        <p>Use the 'list' view scaffold.</p>
        <p>Display data from associated objects.</p>
    </div>
    <div class="col-md-4">
        <h2>Add pattern</h2>
        <p>Ensure that you can add an object that has a to-one association to another object.</p>
    </div>
</div>