@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Music Business</h1>
    <p class="lead">Work with Artists, Albums, and Songs, and learn the 'Details, 'Edit', and 'Delete' patterns</p>
    <p><a href="http://petermcintyre.com/bti420/notes/feb17/" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Details pattern for associated objects</h2>
        <p>Based on the Winter 2015 semester Lab 5 in BTI420.</p>
        <p>There's much to learn, because we want to show data from associated objects and/or collections.</p>
    </div>
    <div class="col-md-4">
        <h2>Edit and Delete patterns</h2>
        <p>Both patterns are similar to the 'add new' pattern, because each pattern requires two methods, a GET and a POST.</p>
        <p>For edit, we create an 'edit form' view model class.</p>
        <p>For delete, we display enough data for the user to decide, before performing the deletion.</p>
    </div>
    <div class="col-md-4">
        <h2>Handle request errors</h2>
        <p>As a bonus feature, learn how to handle request errors in an ASP.NET MVC 5 web app.</p>
        <p><a class="btn btn-default" href="http://petermcintyre.com/topics/handle-request-errors-in-aspnet-mvc-app/" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>