@{
    ViewBag.Title = "Pan Am Games Data";
}

<div class="jumbotron">
    <h1>Pan Am Games Data</h1>
    <p class="lead">Data to support the winter-semester Assignment 1</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About this app</h2>
        <p>This app is used to gather data that will be used in the winter-semester Assignment 1 in the iOS programming course.</p>
        <p>It will also deliver the data as a web service (soon).</p>
        <p><a class="btn btn-default" href="http://petermcintyre.com/dps923/graded-work/assign1/" target="_blank">Assignment 1 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sports</h2>
        <p>Information about <a href="sports">sports</a>.</p>
        <p><a href="sports/create">Add the sports</a> that you were asked to add in the email message.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Venues</h2>
        <p>Information about <a href="venues">venues</a>.</p>
        <p><a href="venues/create">Add the venues</a> that you were asked to add in the email message.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>