@{
    ViewBag.Title = "Associations Intro";
}

<div class="jumbotron">
    <h1>Associations Intro</h1>
    <p class="lead">Working with associated entities</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Read the daily notes page for full coverage.</p>
        <p><a class="btn btn-default" href="http://petermcintyre.com/bti420/notes/feb10/" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>