@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Notes</h1>
    <p class="lead">This web app is described in BTI420 Assignment 2 in the Winter 2015 semester.</p>
    <p><a href="http://petermcintyre.com/bti420/graded-work/assign2/" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Theme of this web app</h2>
        <p>Create a web app that enables employees to write and manage notes.</p>
        <p>In many organizations, employees make notes about their daily activities. One or more notes per day can be created by the employee. The notes are private, such that one employee cannot view the notes made by another employee.</p>
    </div>
    <div class="col-md-4">
        <h2>How to use this web app</h2>
        <p>You must create an account to use this web app.</p>
        <p>Any of the employees in the Assignment 2 specifications document can be used to create an account.</p>
        <p>Then, an employee can create notes, which are simple rich text documents.</p>
    </div>
    <div class="col-md-4">
        <h2>Administrator and Managers</h2>
        <p>When the web app loads for the first time, it creates an 'admin' user.</p>
        <p>Then, the administrator can configure a user as a 'manager'.</p>
        <p>A manager can then choose employees who report to them.</p>
        <p>All this info shows up in the 'employee details' view.</p>
    </div>
</div>