@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Collections</h1>
    <p class="lead">Begin working with collections</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Study these features</h2>
        <p>
            Collection type List&lt;T&gt;</p>
        <p>Create a collection of a simple and well-understood type, 'string'</p>
        <p>Create a collection of a custom class, 'Person'</p>
        <p>Enumerating through a collection, with 'foreach'</p>
    </div>
    <div class="col-md-4">
        <h2>'Testing' console project</h2>
        <p>Learn the basics</p>
    </div>
    <div class="col-md-4">
        <h2>Web app project</h2>
        <p>Learn how to render a collection in a view</p>
        <p>Click/view the 'Contact' page</p>
    </div>
</div>