@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Security Introduction</h1>
    <p class="lead">Enhances the project template with claims, <br />and a 'Register' account user interface that takes advantage of claims.</p>
    <p><a href="http://petermcintyre.com/bti420/notes/mar24/" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>The project's components that handle account registration have been modified.</p>
        <p>You have permission to use these components as-is in your project.</p>
    </div>
</div>